.root {
    -fx-border-width: 0 0 5 0;
}

.button {
    -fx-border-radius: 5px;
    -fx-padding: 5px 60px;
    -fx-background-color: #000000;
    -fx-font-size: 30px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-width: 60px;
    -fx-font-family: "Copperplate";
    -fx-font-weight: bold;
    -fx-border-color: #000080;
}

.button:hover {
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-color: #F8F8FF;
}

.text{
    -fx-font: 25px "Papyrus";
    -fx-fill: white;
    -fx-stroke:white;
    -fx-stroke-width:1;
}

.listView:filled:selected:focused, .list-cell:filled:selected {
   -fx-background-color: #000000;
   -fx-text-fill: white;
}
.listView{
    -fx-text-fill: black;
    -fx-background-color: #FFA500;
    -fx-font-size: 5px;
    -fx-border-width: 0px;
    -fx-width: 60px;
    -fx-font-family: "papyrus" ;
}

.list-cell:odd { -fx-background-color: #FFA500;}

.list-cell:even { -fx-background-color: #B22222;}

.list-cell:filled:hover {
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-text-fill: white;
}